.contact {
    text-align: center;
    width: 100%;
}

.contact-title {
    text-align: center;
    padding-top: 70px;
    color: #2c3e50;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
}

.contact-starline {
    display: inline-block;
    width: 270px;
    border: 3px solid #2c3e50;
    border-radius: 5px;
    margin-left: -120px;
}

.contact-star-background {
    display: inline-block;
    margin-left: -175px;
    background-color: white;
    width: 70px;
    height: 30px;
}

.contact-star {
    color: #2c3e50;
    display: inline-block;
    margin-left: -58px; 
    margin-bottom: 50px;
}

form {
    text-align: center;
}

textarea, input:not([type="submit"]) {  /*Form elements other than submit button are selected. */
    margin-top: 50px;        
    padding-bottom: 20px;               /*Distance between text - border line*/
    width: 50%;
    border: none;
    color: #212529;;
    border-bottom:1px solid #ced4da;;
    font-size: 24px;
    font-weight: 400;
}

textarea, input:focus {
    outline: none;
    border-bottom:1px solid aquamarine;
}

input[type="submit"] {
    float: left;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 90px;
    padding: 20px 30px;
    color: #ffffff;
    background-color:#1abc9c;
    border: none;  
    border-radius: 8px;
    font-size: 22px;
    font-weight: 400;  
}

:disabled {
    opacity: 0.5;
}