
/*  Footer  ---------------------------------------------------------------------------------------------*/
.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    grid-column-gap: 150px;
    margin-top: 200px;
    padding-left: 200px;
    background-color: #2c3e50;
    width: 100%;
    height: 40vh;
}

.footer i {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 24px 17px;
    margin-right: 6px;
}


.col {
    margin-top: 90px;
    color: white;
}

.row-1 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.row-2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.row-2 a {
    text-decoration: underline;
    color: #1abc9c;
}

.row-2 a:hover {
    color: cadetblue;
}


/*  Copyright*/
.copy-right {
    color: white; 
    background-color: #212529;
    font-size: 15px;
    text-align: center;
    padding: 27px 0;
}