body {
    overflow-x: hidden;
}

/*  NavBar  ---------------------------------------------------------------------------------------------*/
.navbar {
    position: fixed;
    top: 0px;
    background-color: #2c3e50;
    height: 105px;
    width: 100%;
}

.navbar h1 {
    float: left;
    font-size: 30px;
    padding:37px 110px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    text-transform: uppercase;
}

.navbar ul {
    float: right;
    font-size: 17px;
    padding:44px 100px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    text-transform: uppercase;
}

.navbar li {
    display: inline-block;
    padding-right: 40px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: #1abc9c;
}
/* for scrolling
.active {
    background-color: #1abc9c;
    color: white;
}
/*  NavBar END*/


/*  Profile  ---------------------------------------------------------------------------------------------*/
.profile {
    background-color: #1abc9c;
    text-align: center;
    margin-top: 105px;
    width: 100%;
}

.profile img {
    padding-top: 100px;
    margin-bottom: 30px;
}

.profile-text {
    margin-bottom: 25px;
    color: white;
    font-size: 65px;
    font-weight: 700;
    /*letter-spacing: 0.1rem;
    font-stretch: expanded;*/
    text-transform: uppercase;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



.profile i {
    display: inline-block;
    color: #ffffff;
    margin-left: -60px;
}

.box {
    display: inline-block;
    margin-left: -180px;
    background-color:#1abc9c;
    width: 70px;
    height: 30px;
}

.line {
    display: inline-block;
    width: 280px;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: -140px;
}

.profile-statu {
    margin-top:30px;
    padding-bottom: 100px;
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/*  Profile END */




/*  Portfolio   ---------------------------------------------------------------------------------------------*/
/*Olmasa da oluyor
.portfolio {
    display: flex;
    flex-direction: column;
}*/

.portfolio-text {
    text-align: center;
    color: #2c3e50; 
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: 90px;
}

.portfolio i {
    color: #2c3e50; 
    margin-top: 50px; 
    width: 100%; 
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-top: 50px;
    grid-row-gap: 50px;
    grid-column-gap: 40px;
}

.grid-item {
    border-radius: 8px;
    width: 400px;
}
/*  Portfolio END*/





/*  About   ---------------------------------------------------------------------------------------------*/
.about {
    background-color: #1abc9c;
    min-height: 78vh;
}

.about-text {
    text-align: center;
    color: white; 
    padding-top: 70px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.about i {
    color: white; 
    margin-top: 50px; 
    width: 100%; 
    text-align: center;
}

.desc-about {
    display: flex;
    flex-direction: row;
    grid-column-gap: 30px;
    /*width: 890px;*/
    width: 100%;
    margin-top: 50px;
    margin-left: 300px;
    
}

.desc-about > .txt {
    text-align: justify;
    width: 445px;
    font-size: 21px;
    font-weight: 400;
    line-height: 130%;
    color: white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.par {
    display: table;
    border-spacing: 20px 0px;
}
.btn {
    display: table-row;
    margin-left: 620px;
    margin-top: 50px;
    background-color: #1abc9c;
    border: 2px solid white;
    border-radius: 8px;
    white-space: nowrap;
    padding: 20px 10px;
}

.btn > div {
    display: table-cell;
    color: #ffffff;
    font-size: 20px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn > i {
    display: table-cell;
    color: #ffffff;
    margin: 0;
    font-size: 18px;
}

.btn:hover {
    color: black;
    background-color: white;
}



/*  Contact     */
.contact-text {
    text-align: center;
    padding-top: 70px;
    color: #2c3e50;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.contact > i {
    color: #2c3e50;
    margin-top: 50px; 
    margin-bottom: 50px;
    width: 100%; 
    text-align: center;
}

form {
    text-align: center;
}

input:not([type="submit"]), textarea {    /*Form input elements other than submit are selected. */
    margin-top: 50px;        
    padding-bottom: 20px;       /*Distance between text - border line*/
    width: 50%;
    border: none;
    color: #212529;;
    border-bottom:1px solid #ced4da;;
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input:focus {
    outline: none;
    border-bottom:1px solid aquamarine;
}

input[type="submit"] {
    float: left;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 90px;
    padding: 20px 30px;
    color: #ffffff;
    background-color:#1abc9c;
    border: none;  
    border-radius: 8px;
    font-size: 22px;
    font-weight: 400;  
}

:disabled {
    opacity: 0.5;
}